@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Tech - Sistema de Biblioteca Online</h1>
    <div>
        <img src="/img/logo.png" />
    </div>
</div>
