@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Feito por Tiago Euzébio Cordeiro</p>
<a href="https://www.linkedin.com/in/tiago-euz%C3%A9bio-cordeiro-927165224/" class="btn btn-primary"><i class="bi bi-linkedin mx-2"></i>LinkedIn</a>
<a href="https://github.com/tiagoeuzebiocordeiro" class="btn btn-dark"><i class="bi bi-github mx-2"></i>GitHub Pessoal</a>
<a href="https://github.com/tiagoeuzebiocordeiro/BibliotecaTech" class="btn btn-warning"><i class="bi bi-github mx-2"></i>Repositório do Projeto</a>
